<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
	<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}jquery.autocomplete.css"/>
	<script type="text/javascript" src="{{ MEDIA_URL }}jquery.js"></script>

	<script type="text/javascript" src="{{ MEDIA_URL }}jquery.autocomplete.js"></script>
	{%block extra_stylesheets %}{% endblock %}
	{%block extra_js %}{% endblock %}
  </head>
  <body>
	{% block content %}{% endblock %}
  </body>
</html>
